<settings>
    <servers>
    <server>
        <id>cjlabs-devops-project</id>
        <username>aws</username>
        <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
    </servers>
    <profiles>
    <profile>
        <id>cjlabs-devops-project</id>
        <activation>
        <activeByDefault>true</activeByDefault>
        </activation>
        <repositories>
        <repository>
            <id>cjlabs-devops-project</id>
            <url>https://cjlabs-683554908801.d.codeartifact.ap-south-1.amazonaws.com/maven/devops-project/</url>
        </repository>
        </repositories>
    </profile>
    </profiles>
    <mirrors>
    <mirror>
        <id>cjlabs-devops-project</id>
        <name>cjlabs-devops-project</name>
        <url>https://cjlabs-683554908801.d.codeartifact.ap-south-1.amazonaws.com/maven/devops-project/</url>
        <mirrorOf>*</mirrorOf>
    </mirror>
    </mirrors>
</settings>